.options {
  position: absolute;
  top: 1rem;
  right: 9rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 5;
  width: 10rem;
  user-select: none;

  &--item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.35rem;

    &--title {
      margin-right: 1rem;
    }

    &--input {
      min-width: 100%;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      margin-right: 7px;
      font-size: inherit;

      &:focus {
        outline: none;
      }
    }

    &--addSign {
      font-size: 10px;
      color: #c38005;
    }

    &--icon {
      color: rgb(73, 228, 65);
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}

.info {
  cursor: pointer;
  position: absolute;
  right: 12.5px;
  top: 5px;

  &:hover {
    transform: scale(1.5);
  }
}