.subtab {
    flex: 1;

    &--tab {
      cursor: pointer;
      font-size: 1.5rem;
      color: rgb(250, 250, 250);
      padding: 0.35rem 2.35rem;
      background-color: #bfdde8;
      border-radius: 100% 100% 0 0;
      // margin-left: -3rem;
      opacity: 0.9;
      user-select: none;
      // transition: all .2s ease-in;

      &--selected {
        color: white;
        background-color: #65b7d2;
        font-weight: 700;
        z-index: 5;
        opacity: 1;
      }

      &--addoption {
        opacity: 1;
        padding: 0.5rem ;
        border-radius: none;
        color: orange;
        background-color: transparent;
      }
    }
  }