.infoWidget {
  width: 50rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: #f9feff;

  &__dropdown {
    display: flex;
    justify-content: center;

    &_select {
      width: 90%;
      display: flex;
      justify-content: center;
      text-align: center;
      border: 1px solid #c9d5db;
      border-radius: 3rem;
      font-size: 1.85rem;
      background-color: #e1f5ff;
      padding: 0.5rem 0;
    }

    &_option {
      background-color: transparent !important;
    }
  }
}

.mainTab {
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    margin: 1.75rem auto;
    margin-right: 35px;
    width: 100%;
    font-size: 1.75rem;
  }

  &__option {
    position: absolute;
    right: 38%;
    cursor: pointer;
    border-radius: none;
    color: orange;
    background-color: transparent;
    font-size: 1.15rem;
  }

  &__inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;

    input {
      border: none;
      font-size: 1.5rem;
      border-bottom: 1px solid rgb(197, 197, 197);
      background-color: transparent;
      padding: 5px;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }
}

.subTab {
  display: flex;
  flex-direction: column;

  &__inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;

    &:hover {
      background-color: #e1f5ff;
    }

    input {
      border: none;
      font-size: 1.5rem;
      border-bottom: 1px solid rgb(197, 197, 197);
      background-color: transparent;
      padding: 5px;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: rgb(223, 13, 13);
      font-size: 2rem;
    }
  }
}

.btngroup {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  button {
    cursor: pointer;
    border: none;
    padding: 1rem 1.75rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: white;
  }

  &__delete {
    background-color: red;
  }

  &__action {
    &--Cancel {
      background-color: rgb(198, 198, 198);
    }

    &--Save {
      background-color: rgb(153, 249, 9);
      margin-left: 15px;
      padding: 1rem 2.1rem !important;
    }
  }
}
